body{
	margin: 0;
	background-color: #E8E8E8;
}

h1{
	text-transform: uppercase;
	font-size: 35px;
}

iframe{
	width: 100%;
	margin-bottom: 50px;
}

.transition{
	transition: top 0.7s ease-out, opacity 1.5s ease-out;
}

.invisible{
	position: relative;
	top: 200px !important;
	opacity: 0 !important;
}

.visible{
	position: relative;
	top: 0 !important;
	opacity: 1 !important;
}

textarea{
	resize: none;
}

.inner{
	width: 60%;
}

#header{
	background-image: url(../img/headerBgi.png);
	background-position: center center;
	background-size: cover;

		overflow: hidden;
}

.header_inner{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: auto;
	color: #C5C5C5;
}

.header__header{
	display: flex;
	justify-content: space-between;

	position: relative;

	width: 100%;
	margin-top: 30px;
}

.header__logo{
	width: 20%;
}

.header__logo img{
	width: 100%;
}

.header__nav{
	display: flex;
	justify-content: space-between;

	width: 70%;
	height: 75px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.header__nav a{
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100%;

	color: #C5C5C5;
	text-decoration: none;
}

.header__nav a::after{
	content: "";
	border-bottom: 1px solid white;
	width: 0;

	transition: all 0.5s ease-in-out;
}

.header__nav a:hover{
	color: #EDEDED;
}

.header__nav a:hover::after{
	width: 100%;
}

.header__nav_mobile{
	display: none;
	flex-direction: column;
	justify-content: space-between;

	width: 40px;
	height: 25px;
}

.header__nav_mobile:hover{
	cursor: pointer;
}

.nav-button{
	display: block;
	height: 5px;

	border-radius: 2px;
	border-color: white;
	background-color: white;
}

.header__content{
	width: 100%;
	margin-top: 45px;
	margin-bottom: 300px;

	transition: top 0.7s ease-out 0.5s, opacity 1.5s ease-out 0.5s;
}

.header__title{
	display: flex;
	flex-direction: column;
}

.header__title h1{
	display: inline;
	color: white;
	margin: 0;
}

.header__title h1 span{
	color: #FFBA00;
}


/*-----------------------------------------------*/


#details{
	background-color: #E8E8E8;
}

.details_inner{
	display: flex;
	flex-direction: column;

	margin: auto;
}

.details__content{
	display: flex;
	justify-content: space-around;

	margin-bottom: 30px;
}

.details__pass{
	width: 44%;
}

.details__pass img{
	width: 100%;
}

.details__form{
	width: 40%;
}

.details__form form{
	display: flex;
	flex-direction: column;
}

.form-item{
	display: flex;
	flex-direction: column;

	margin-bottom: 14px;
	width: 100%;
}

.form-item_double{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-item_double div{
	display: flex;
	flex-direction: column;
	width: 45%
}

.form-item label{
	margin-bottom: 3px;
}

.form-item input, .form-item textarea{
	border: 0.5px solid #FFBA00;
	border-radius: 3px;

	padding: 2px 6px;
}

.form-item button{
	height: 30px;

	border: none;
	border-radius: 3px;

	font-size: 17px;
	font-weight: bold;
	background-color: #FFBA00;
}

/*----------------------------------------*/

#how-work{
	background-color: #FFBA00;

	transition: top 0.7s ease-out, opacity 1.5s ease-out;
}

.how-work_inner{
	display: flex;
	flex-direction: column;

	margin: auto;
}

.how-work__title h1{
	margin-bottom: 35px;
	color: white;
}

.how-work__content{
	display: flex;
	justify-content: space-around;
}

.how-work__item{
	display: flex;
	flex-direction: column;


	width: 12%;
	margin-bottom: 30px;

	text-align: center;
}

.how-work__item img{
	object-fit: contain;
}

.how-work__item p{
	margin: 0;
	padding: 0;
}

/*----------------------------------------*/

#about{
	display: flex;
	justify-content: flex-end;

	background-image: url(../img/aboutBgi.png);
	background-position: center center;
	background-size: cover;

	overflow: hidden;
}

.about__content_wrap{
	width: 50%;
}

.opacity{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
}

.about__content{
	position: relative;
	z-index: 1;

	margin-left: 40px;
}

.about__title h1, .about__text p{
	opacity: 1;
}

.about__title{
	color: #FFBA00;
}

.about__text{
	color: #C5C5C5;
}

/*----------------------------------------*/

#contact{
	display: flex;
	flex-direction: column;

	background-color: black;
}

.contact__title, .contact__content{
	margin: auto;
	width: 60%;
	color: white;
}

.contact__content{
	display: flex;
	justify-content: space-between;
}

.contact__content p{
	font-size: 13px;
	margin: 0;
}

.contact__content p:nth-child(1){
	margin-bottom: 15px;

	font-size: 18px;
	font-weight: bold;
}

/*----------------------------------------*/

@media screen and (max-width: 1180px) {

	.inner{
		width: 80%;
	}

}

@media screen and (max-width: 992px) {

	#header{
		background-image: none;
		background-color: black;
	}

	.header__nav{
		flex-direction: column;

		position: absolute;
		right: -1000px;
		top: 70px;

		width: auto;

		text-align: right;
	}

	.header__nav a{
		height: auto;
		margin-bottom: 30px;
	}

	.header__nav_mobile{
		display: flex;
	}

	.header__content{
		margin-bottom: 100px;
		text-align: center;
	}

	.details__pass{
		display: none;
	}

	.details__form{
		width: 80%;
	}

	.about__content_wrap{
		width: 100%;
	}

	.about__text{
		text-align: justify;
		margin-bottom: 40px;
	}

}
