@font-face{

font-family: 'GothamProBold';

src: url('../fonts/GothamProBlack.woff');
}

@font-face{

font-family: 'GothamPro';

src: url('../fonts/GOTHAMPROLIGHT.TTF');
}

body{
	margin: 0;
	background-color: #E8E8E8;

	font-family: 'GothamPro';
}

h2{
	font-family: 'GothamProBold';

	text-transform: uppercase;
	font-size: 35px;
}

iframe{
	width: 100%;
	height: 500px;
	margin-bottom: 50px;

	border:0;
}

input{
	height: 20px;
}

.transition{
	transition: top 0.7s ease-out, opacity 1.5s ease-out;
}

.invisible{
	position: relative;
	top: 200px !important;
	opacity: 0 !important;
}

.visible{
	position: relative;
	top: 0 !important;
	opacity: 1 !important;
}

textarea{
	resize: none;
}

.inner{
	width: 60%;
}

.callback{
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 2;

	width:	100px;
	height: 100px;
}

.callback:hover{
	cursor: pointer;
}

.modal{
	width: 40%;

	position: fixed;
	top: 100%;
	left: 30%;
	z-index: 1000;

	opacity: 0;

	background-color: #E8E8E8;
	border: 1px solid #FFBA00;
	border-radius: 5px;

	padding: 15px;

	transition: all 1s ease-out;
}

.modal_active{
	opacity: 1 !important;
	top: 20% !important;
}

.modal_inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.modal-close{
	align-self: flex-end;
	width: 20px;
	height: 20px;
}

.modal-close:hover{
	cursor: pointer;
}

.modal-close img{
	width: 100%;
}

.modal__title{
	width: 100%;
	border-bottom: 1px solid black;
	margin-bottom: 20px;

	text-align: center;
}

#modal__form{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	width: 100%;
}

.modal__form-item{
	display: flex;
	flex-direction: column;

	width: 48%;

	margin-bottom: 20px;
}

.modal__form-item input, .modal__form-item textarea{
	border: 0.5px solid #FFBA00;
	border-radius: 3px;

	padding: 2px 6px;
}

.modal__form-item_text{
	width: 100%;
}

.modal__form-item #modal-submit{
	height: 30px;

	margin-top: 10px;

	border: none;
	border-radius: 3px;

	font-size: 17px;
	font-weight: bold;
	background-color: #FFBA00;

}

.form__btn{
	height: 30px;

	border: 0.5px solid #FFBA00;
	border-radius: 3px;
	background-color: #FFB910;

	padding: 2px 6px;

	transition: all 1s ease-out;
}

.form__btn:hover{
	cursor: pointer;
	background-color: #FFCF4B !important;
}

#header{
	background-image: url(../img/headerBgi.png);
	background-position: center center;
	background-size: cover;

	position: relative;

	overflow: hidden;
}

.header_inner{
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100vh;

	margin: auto;
	color: #C5C5C5;
}

.header__header{
	display: flex;
	justify-content: space-between;

	width: 100%;
	margin-top: 30px;
}

.header__logo{
	width: 20%;
}

.header__logo img{
	width: 100%;
}

.header__nav{
	display: flex;
	justify-content: space-between;

	width: 75%;
	height: 75px;
	margin: 0;
	padding: 0;

	list-style: none;
}

/*------------Mobile-Nav--------------------*/

.header__nav_mobile{
	display: none;

	width: 40px;
	height: 25px;
}
.nav-btn{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
	z-index: 2;

	width: 100%;
	height: 100%;
}
.nav-btn .nav-line{
	display: block;
	height: 5px;

	border-radius: 2px;
	border-color: white;
	background-color: white;

	transition: all 0.5s ease-out;
}
.nav-btn:hover{
	cursor: pointer;
}
.nav-btn-active .nav-line{
	background-color: black;
}
.nav-btn-active .nav-line{

}
.nav-btn-active .nav-line:nth-child(2){
	display: none;
}
.nav-btn-active .nav-line:nth-child(1){
	transform: translateY(10px) rotate(45deg);
}
.nav-btn-active .nav-line:nth-child(3){
	transform: translateY(-10px) rotate(-45deg);
}





.nav_mobile-wrap{
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	z-index: 1;
	right: -1000px;
	top: 0;

    width: 265px;
    height: 245px;

    background-color: #E8E8E8;

    transition: all 0.5s ease-out;
}

.nav_mobile-active{
	right: 0 !important;
}

.nav_mobile__content a{
	height: auto;
	margin-bottom: 30px;

	color: black !important;
}

.nav_mobile__content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	list-style: none;
}

.header__nav a, .nav_mobile__content a{
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100%;

	color: #C5C5C5;
	text-decoration: none;
}

.header__nav a::after{
	content: "";
	border-bottom: 1px solid white;
	width: 0;

	transition: all 0.5s ease-in-out;
}

.nav_mobile__content a::after{
	content: "";
	border-bottom: 1px solid #252525;
	width: 0;

	transition: all 0.5s ease-in-out;
}

.header__nav a:hover, .nav_mobile__content a:hover{
	color: #EDEDED;
}

.header__nav a:hover::after, .nav_mobile__content a:hover::after{
	width: 100%;
}

.header__content{
	width: 100%;
	height: 100%;

	margin-top: 45px;

	transition: top 0.7s ease-out 0.5s, opacity 1.5s ease-out 0.5s;
}

.header__title{
	display: flex;
	flex-direction: column;
}

.header__title h2{
	color: white;
	margin: 0;
}
.header__title h2 span{
	color: #FFBA00;
}

.header__text h1{
	font-size: 14px;
}


/*-----------------------------------------------*/


#details{
	background-color: #E8E8E8;
}

.details_inner{
	display: flex;
	flex-direction: column;

	margin: auto;
}

.details__content{
	display: flex;
	justify-content: space-around;

	margin-bottom: 30px;
}

.details__pass{
	width: 50%;
}

.details__pass img{
	width: 100%;
}

.details__form{
	width: 40%;
}

.details__form form{
	display: flex;
	flex-direction: column;
}

.form-item{
	display: flex;
	flex-direction: column;

	margin-bottom: 14px;
	width: 100%;
}

.form-item_double{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form-item_double div{
	display: flex;
	flex-direction: column;
	width: 46%
}

.arrow_wrap{
	position: relative;
}

.arrow_wrap img{
	position: absolute;
	width: 120px;
	bottom: 10px;
	left: -130px;
}

.form-item label{
	margin-bottom: 3px;
}

.form-item input, .form-item textarea, .form-item select{
	border: 0.5px solid #FFBA00;
	border-radius: 3px;

	padding: 2px 6px;
}

.form-item #submit{
	height: 30px;

	border: none;
	border-radius: 3px;

	font-size: 17px;
	font-weight: bold;
	background-color: #FFBA00;
}

/*----------------------------------------*/

#how-work{
	background-color: #FFBA00;

	transition: top 0.7s ease-out, opacity 1.5s ease-out;
}

.how-work_inner{
	display: flex;
	flex-direction: column;

	margin: auto;
}

.how-work__title h2{
	margin-bottom: 35px;
	color: white;
}

.how-work__content{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.how-work__item{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	width: 10%;
	margin-bottom: 30px;

}

.how-work__item img{
	width: 100%;
	object-fit: contain;
}

.how-work__item p{
		text-align: center;
	margin: 0;
	padding: 0;
}

/*----------------------------------------*/

#about{
	display: flex;
	justify-content: flex-end;

	background-image: url(../img/aboutBgi.png);
	background-position: center center;
	background-size: cover;

	overflow: hidden;
}

.about__content_wrap{
	width: 50%;
}

.opacity{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
}

.about__content{
	position: relative;
	z-index: 1;

	margin-left: 40px;
}

.about__title h2, .about__text p{
	opacity: 1;
}

.about__title{
	color: #FFBA00;
}

.about__text{
	color: #C5C5C5;
}

/*----------------------------------------*/

#contact{
	display: flex;
	flex-direction: column;

	background-color: black;
}

.contact__title, .contact__content{
	margin: auto;
	margin-bottom: 30px;
	width: 60%;
	color: white;
}

.contact__content{
	display: flex;
	justify-content: space-between;
}

.contact__content p{
	display: flex;
	align-items: center;
	font-size: 15px;
	padding: 5px;
	margin: 0;
}

.contact__content p:nth-child(1){
	margin-bottom: 15px;

	font-size: 20px;
	font-weight: bold;
}

.contact__item a{
	text-decoration: none;
	color: #fff;
}

.contact__content p img{
	margin-left: 10px;
	height: 25px;
}

/*----------------------------------------*/

@media screen and (max-width: 1180px) {

	.inner{
		width: 90%;
	}

}

@media screen and (max-width: 992px) {

	h2{
		font-size: 25px;
	}

	.callback{
		position: fixed;
		bottom: 20px;
		right: 5px;
		z-index: 2;

		width: 50px;
		height: 50px;
	}

	.modal{
		width: 80%;
		left: 10%;
	}

	.modal__form{
		flex-direction: column;
	}

	.modal__form-item{
		width: 100%;
	}

	#header{
		background-image: none;
		background-color: black;
	}

	.header__logo{
		width: 40%;
	}

	.header__nav{
		display: none;
	}

	.header__nav_mobile{
		display: flex;
	}

	.header__content{
		display: flex;
		flex-direction: column;
		justify-content: center;

		margin-bottom: 100px;
		text-align: center;
	}

	.details__pass{
		display: none;
	}

	.details__form{
		width: 80%;
	}

	.arrow_wrap img{
		display: none;
	}

	.how-work__item{
		width: 40%;
	}

	.how-work__item img{
		width: 30%;
	}

	.about__content_wrap{
		width: 100%;
	}

	.about__text{
		text-align: justify;
		margin-bottom: 40px;
	}

	.contact__content{
		flex-direction: column;
	}

	.contact__content p:nth-child(1){
		margin-bottom: 0;
	}

}

@media screen and (max-width: 321px) {

	.header__title h2{
		font-size: 20px;
	}

}
